/* Local Google Fonts - Lato & Source Sans Pro */
/* FULLY LOCAL: All font files now hosted in Shopify assets folder */
/* This completely eliminates external font requests to Google CDN */

@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('S6uyw4BMUTPHjx4wWw.ttf') format('truetype');
}

@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url('6xKydSBYKcSV-LCoeQqfX1RYOo3ik4zwlxdr.ttf') format('truetype');
}

@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('6xK3dSBYKcSV-LCoeQqfX1RYOo3qOK7g.ttf') format('truetype');
}

@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url('6xKydSBYKcSV-LCoeQqfX1RYOo3i54rwlxdr.ttf') format('truetype');
}
